@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
    url("../../../../assets/Montserrat-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url("../../../../assets/Montserrat-Bold.ttf") format("opentype");
}

.container_departments {
  margin-top: -16%;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.department_title {
  color: #fff;
  font-family: DIN2014-Bold, sans-serif;
  font-size: 63px;
  margin-left: 2%;
}

.department_description {
  font-family: Montserrat-Light, sans-serif;
  font-size: 22px;
  color: #fff;
  max-width: 600px;
  text-align: justify;
  padding-left: 2%;
}

.department_dialysis_product_description {
  font-family: Montserrat-Light, sans-serif;
  font-size: 22px;
  color: #000;
  max-width: 600px;
  text-align: justify;
  padding-left: 2%;
}

.department_dialysis_product_title {
  font-family: Montserrat-Light, sans-serif;
  font-size: 22px;
  color: #0033a0;
  max-width: 600px;
  text-align: justify;
  font-weight: bold;
}

.department_product_title {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 22px;
  color: #0033a0;
  max-width: 600px;
  text-align: justify;
  font-weight: bold;
}
.department_realisations_title {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 22px;
  color: #0033a0;
  max-width: 600px;
  text-align: justify;
  font-weight: bold;
}
.dialysis_machine_images_hidden {
  height: 400px;
  width: 715px;
  max-width: 100%;
  min-width: 300px;
}

.dialysis_machine_product_description {
  font-family: Montserrat-Light, sans-serif;
  font-size: 21px;
  color: #484c53;
  max-width: 600px;
  text-align: justify;
  padding-left: 2%;
  padding-left: 5%;
}

.dialysis_machine_product_title {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 24px;
  color: #0033a0;
  max-width: 600px;
  text-align: justify;
  font-weight: bold;
  padding: 5%;
}

.dialysis_hidden_image {
  height: 500px;
  width: 100%;
  padding-left: 2%;
  display: flex;
  background-image: url("../../../../assets/images/dialysis1.png");
  color: red;
  margin-top: 16%;

  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #031a33;
  background-image: linear-gradient(
      to right,
      #0c1b41,
      #0f2157,
      #17266d,
      transparent,
      transparent,
      transparent,
      transparent
    ),
    url("../../../../assets/images/dialysis1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.cardiology_hidden_image {
  height: 500px;
  width: 100%;
  padding-left: 2%;
  display: flex;
  background-image: url("../../../../assets/images/cardiology.png");
  color: red;
  margin-top: 16%;

  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;

  background-image: linear-gradient(
      to right,
      #0c1b41,
      #0f2157,
      #17266d,
      transparent,
      transparent,
      transparent,
      transparent
    ),
    url("../../../../assets/images/cardiology.png");
  background-repeat: no-repeat;
  background-position: right;
}

.medication_hidden_image {
  height: 500px;
  width: 100%;
  padding-left: 2%;
  display: flex;
  color: red;
  margin-top: 16%;

  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;

  background-image: linear-gradient(
      to right,
      #0c1b41,
      #0f2157,
      #17266d,
      transparent,
      transparent,
      transparent,
      transparent
    ),
    url("../../../../assets/images/pharmacy-interior.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.equipment_hidden_image {
  height: 500px;
  width: 100%;
  padding-left: 2%;
  display: flex;
  color: red;
  margin-top: 16%;

  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;

  background-image: linear-gradient(
      to right,
      #0c1b41,
      #0f2157,
      #17266d,
      transparent,
      transparent,
      transparent,
      transparent
    ),
    url("../../../../assets/images/EQUIPEMENTS.png");
  background-repeat: no-repeat;
  background-position: right;
}

@media (max-width: 968px) {
  .equipment_hidden_image {
    background-color: #031a33;
    background-image: none;
  }
  .medication_hidden_image {
    background-color: #031a33;
    background-image: none;
  }
  .cardiology_hidden_image {
    background-color: #031a33;
    background-image: none;
  }
  .dialysis_hidden_image {
    background-color: #031a33;
    background-image: none;
  }
}


.realisation_machine_images_hidden {
  height: 95%;
  width: 95%;
  max-width: 100%;
}
.realisation_machine_images_hidden:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  cursor: pointer;
}